/*---------------------------------------------------------------
Project:	Mountain HTML Template
Version:	1.0
Last change:	30-01-2018
Assigned to:	capitaltemplate (capitaltemplate@gmail.com)
Primary use: www.themeforest.net
---------------------------------------------------------------*/

/*------------------------------------------------------------------
[Table of contents]

1. Body
2. Preloader
        - #preloader
        - #status
3. Typography
        - h1
        - h2
        - h3
        - h4
        - h5
        - p
4. Navbar
        - .navbar
        - .navbar-default
        - .navbar-toggle
        - .navbar-right
        - .navbar-text
        - .navbar-brand>img
        - .top-nav-collapse
5. Jumbotron (for static.html)
        - .jumbotron
        - .jumbo
        - .title
6. Carousel (for slider.html)
        - .carousel-caption
        - .fill_1
        - .fill_2
        - .fill_3
7. Video (for video.html)
        - .youtube
8. Testimonial
        - .testimonial
        - .testimonial-border
        - .testimonial-text
        - blockquote
        - #quote-carousel
        - .carousel-inner
        - .item blockquote
9. About Us
        - .About-Us
        - .about-text
        - .text-aboutus
10. Counter
        - .counters
        - ul#example
11. What we do
        - .what-we
        - .file-text-icon
        - .file-text-icon:hover
        - .icons
        - .what_we_do
        - .webdesign
        - .copywriting
        - .coding
12. Animate numbers
        - .animate-numbers
        - .number
        - .counter
        - .count
13. Gallery
        - .images-gallery
        - .gallery
        - figure
        - figcaption
        - .modalDialog
        - .modalDialog:target
        - .modalDialog img
        - .close
14. Download
        - #home
        - .download
        - .down
15. Contact
        - .contact-us
        - .input-group .form-control
        - .form-control
        - .input-group-addon
        - form-control:focus
16. Google-maps
        - #map-canvas
17. Subscribe
        - #subscribe
        - .subs
        - #email
        - .form-control
        - .buttonSubscribe
        - .buttonSubscribe:hover
18. Footer
        - .footer
        - .footer-text
        - .social-icon
        - .social-icon li
        - .icon
        - .icon a
        - .icon a:hover
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[Color codes]
    Body-color: #313131 (dark)
    jumbotron color: #ffffff (white)
    counter color: #7a9697 (green)
    testimonial color: #9b9b9b (grey)
    text-aboutus color: #fff (white)
    contact-us color: #313131; (dark)
    footer color: #486164 (green)
    btn-primary color: #c1a26e
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[Typography]

Body copy:		Open Sans 700, 400, 100;
Input, textarea:	Arial, Helvetica, sans-serif;
-------------------------------------------------------------------*/

/*---------------------------------------------------------------*/
/* 1. Body */
/*---------------------------------------------------------------*/

body{
    color: #313131;
    font-family: "Open Sans", sans-serif;
    height: 100%;
    overflow: scroll;
}

::-webkit-scrollbar {
    display: none;
}

.btn {
    border-radius: 0;
}

.btn-primary {
    background-color: transparent;
    border-color: #fff;
    border: solid 1px;
    color: #fff;
    font-weight: 100;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 0;
}

.btn-primary:hover {
    color: #000;
    background-color: #fff;
    border: solid 1px #fff;
}

.btn-primary1 {
    color: #fff;
    background-color: transparent;
    border: solid 1px #fff;
    font-weight: 100;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.btn-primary1:hover {
    color: #313131;
    background-color: #fff;
    border: solid 1px #fff;
}

.btn-lg, .btn-group-lg>.btn {
    padding: 12px 25px;
}

#start {
    height: 100%;
    width: 100%;
}

.youtube-hero {
    position: absolute;
}

/********************************/
/*            Overlay           */
/********************************/
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: .7;
}

/********************************/
/*          Custom Buttons      */
/********************************/
.btn.btn-lg {padding: 0.5em 2vh;}
.btn.btn-hero,
.btn.btn-hero:hover,
.btn.btn-hero:focus {
    color: #f5f5f5;
    outline: none;
    margin: 20px auto;
}

/*    Slides backgrounds*/
/*    Media Queries     */
@media screen and (min-width: 980px){
    .hero { width: 980px; }
}
/*---------------------------------------------------------------*/
/* 6. carousel */
/*---------------------------------------------------------------*/
.carousel,
.item,
.active {
    height: 100%;
}

.carousel-caption {
    position: absolute;
    display: table;
    height: 100%;
    z-index: 10;
    color: #fff;
    text-align: center;
    text-shadow: 0 0px 0px rgba(0, 0, 0, .0);
    vertical-align: middle;
    width: 70%;
    bottom: 0;
}

.carousel-center {
    display: table-cell;
    vertical-align: middle;
}

.carousel-caption-ver2 {
    position: absolute;
    display: table;
    height: 100%;
    z-index: 10;
    color: #fff;
    text-shadow: 0 0px 0px rgba(0, 0, 0, .0);
    vertical-align: middle;
    width: 70%;
    bottom: 0;
    text-align: left !important;
    top: 50%;
    margin-top: -50px;
}

.carousel-item {
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.fill_1 {
    background-image: url("../images/b2.jpg");/* path to your background image at slider.html */
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.fill_2 {
    background-image: url("../images/b3.jpg");/* path to your background image at slider.html */
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.fill_3 {
    background-image: url("../images/b1.jpg");/* path to your background image at slider.html */
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.fill_1-ver2 {
    background-image: url("../images/b5.jpg");/* path to your background image at slider-ver2.html */
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.fill_2-ver2 {
    background-image: url("../images/b6.jpg");/* path to your background image at slider-ver2.html */
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.fill_3-ver2 {
    background-image: url("../images/b7.jpg");/* path to your background image at slider-ver2.html */
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.title h3 {
    font-size: 4vh;
    letter-spacing: 4vh;
    display: inline-block;
    text-transform: uppercase;
    margin: 1em .0em .5em 0em;

}
.carousel-caption p {
    color: #d3d2d9;
    font-size: 2.3vh;
    letter-spacing: 1px;
    margin-top: 0;
    margin-bottom: 1em;
    font-family: raleway;
    font-weight: 300;
}

.item h3 {
    font-size: 68px;
    font-weight: 700;
    letter-spacing: 30px;
    margin-bottom: 40px;
    display: inline-block;
    color: #e3dcd6;
    text-transform: uppercase;
}

/*---------------------------------------------------------------*/
/* carousel-end */
/*---------------------------------------------------------------*/

/*---------------------------------------------------------------*/
/* 9. Our-Team */
/*---------------------------------------------------------------*/
.our-team h2 {
    text-align: center;
    color: #313131;
    padding-top: 80px;
    font-weight: 100;
    font-size: 18px;
    margin-bottom: 20px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.team-text-subpage {
    margin-top: 8vh;
}

#team h2 {
    text-align: center;
}

.team-text h2 {
    font-family: "Raleway", sans-serif;
    color: #313131;
    font-weight: 700;
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
    margin-bottom: 0.8em;
    text-transform: capitalize;
    padding-top: 1em;
}

.team-text h4 {
    color: #313131;
    font-weight: 100;
    font-size: 1em;
    letter-spacing: .35em;
    text-transform: uppercase;
    text-align: center;
}

.photo {
    border: 1px solid #313131;
}
/*---------------------------------------------------------------*/
/* Our Team end */
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/* plans and pricing */
/*---------------------------------------------------------------*/

.plans-background{
    background-image: url("../images/background2.jpg");/* path to your background image -pricing */
}

.plans-pricing h2 {
    text-align: center;
    color: #fff;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.button-plans {
    position: absolute;
    bottom: 2rem;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}




.btn-plans1 {
    border: 1px solid #fff;
    margin: 0 auto;
    color: #ef9b01;
    font-weight: 100;
}

.btn-plans1:hover {
    border: 1px solid #fff;
    margin: 0 auto;
    color: #313131;
    background-color: #fff;
}
/*---------------------------------------------------------------*/
/* plans and pricing end */
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/* 10. counter */
/*---------------------------------------------------------------*/
.counters {
    background-color: #e3e3e3;
    position: absolute;
    top: 47%;
    left: 50%;
    width: 50%;
    z-index: 3;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
    -webkit-transform: translate3d(-50%,-50%,0);
    -moz-transform: translate3d(-50%,-50%,0);
    -ms-transform: translate3d(-50%,-50%,0);
    -o-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
}

ul.count-down {
    list-style: none;
    margin: 10px 0;
    padding: 0;
    display: block;
    text-align: center;
    color: #2a3c3a;
}

ul.count-down li { display: inline-block; }

ul.count-down li span {
    font-size: 72px;
    font-weight: 100;
    line-height: 80px;
    padding: 20px;
}

ul.count-down li.seperator {
    font-size: 55px;
    line-height: 70px;
    vertical-align: top;
}

ul.count-down li p {
    color: #aed6d5;
    font-size: 16px;
    font-weight: 700;
    padding-top: 12px;
}

.content-404 {
    height: auto;
}
.title-404 {
    margin-bottom: 25px;
}

.title-404 h3 {
    font-size: 33px !important;
}
/*---------------------------------------------------------------*/
/* 11. what we do */
/*---------------------------------------------------------------*/
.file-text-icon {
    color: #848484;
    padding-top: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
    padding-right: 50px;
    border: 2px solid #aba7a8;
    border-radius: 90%;
    background-repeat: no-repeat;
}

.file-text-icon:hover {
    color: #fff;
    background-color: #aba7a8;
}

.project2 h2{
    padding-top: 15px;
}

/*---------------------------------------------------------------*/
/* 16. Google-maps*/
/*---------------------------------------------------------------*/
#map {
    width: 100%;
    height: 50vh;
}
/*---------------------------------------------------------------*/
/*  Google-maps-end*/
/*---------------------------------------------------------------*/

/*---------------------------------------------------------------*/
/* 15. owl-carousel*/
/*---------------------------------------------------------------*/
#owl .item{
    margin: 3px;


}
#owl .item img{
    display: block;
    margin-top: 60px;
    margin-bottom: 40px;
    text-align: center;
    vertical-align: middle;
}

/*---------------------------------------------------------------*/
/* owl-carousel-end*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/* 17. subscribe */
/*---------------------------------------------------------------*/
#subscribe {
    background-color: #e5e6e6;
}

.subs {
    text-align: center;
    margin-top: 35px;
    margin-bottom: 35px;
}

.subs h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 7px;
    margin-bottom: 20px;
}

#email {
    width: 400px;
    background-color: transparent;
    margin-bottom: 25px;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-bottom: 2px solid #313131;
    font-size: 14px;
    display: inline;
}

.form-control {
    padding-left: 0;

}

.buttonSubscribe {
    color: #313131;
    background-color: transparent;
    font-weight: 700;
    font-size: 12px;
    padding: 8px 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 40px;
    text-transform: uppercase;
    display: inline-block;
    border-color: transparent;
}

.buttonSubscribe:hover {
    color: #313131;
}

/*---------------------------------------------------------------*/
/*  download */
/*---------------------------------------------------------------*/
.subpage h2 {
    padding-top: 8vh;
    padding-bottom: 3vh;
}

.subpage h2, .subpage p {
    color: #fff !important;
}

.buy-theme-white {
    border: 1px solid #fff;
    color: #fff;
    text-transform: uppercase;
    padding: 15px;
    margin: 15px 5px 0px 5px;
    font-weight: 700;
}

.buy-theme-white:hover {
    color: #313131;
    background: #fff
}

.contact-us-subpage h2 {
    color: #313131;
}

.address-subpage {
    padding-top: 50px;
    margin-bottom: 100px;
    color: #313131;
}

.contact-address-subpage {
    padding: 35px 10px 35px 10px;
    display: inline;
}

.contact-subpage {
    margin-top: 60px;
}

.contact-subpage-map {
    margin-top: 150px;
}

/*---------------------------------------------------------------*/
/* FAQ*/
/*---------------------------------------------------------------*/
.fade {
    opacity: 1;
}

.faq-cat-content {
    border: 1px solid #ddd;
}

.faq-cat-tabs li a {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    color: #777777;
}

.nav-tabs li a:focus,
.panel-heading a:focus {
    outline: none;
}

.panel-heading a,
.panel-heading a:hover,
.panel-heading a:focus {
    text-decoration: none;
    color: #777777;
}

.faq-cat-content .panel-heading:hover {
    background-color: #efefef;
}

.active-faq {
    border-left: 0 solid #888888;
}

.nav-tabs {
    border-bottom: none;
}

.panel-group .panel {
    border-radius: 0;
}

.panel-group .panel+.panel {
    margin-top: -1px;
}


.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    color: #caae85;
    cursor: default;
    background-color: #313131;
    border: none;
    border-radius: 0;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 14px;
    border-bottom-color: transparent;
}
